body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000000;
}

.meme {
    position: relative;
    text-align: center;
    max-width: 600px;
}

.text-box {
    background-color: white;
    padding: 10px;
    width: 76.7%;
    margin: 0 auto;
}

.text {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: black;
}

.image-container {
    position: relative;
}

.meme-image {
    width: 80%;
    display: block;
    margin: 0 auto;
}
